@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
:root {
  --primary-soft-cyan: hsl(174, 77%, 80%);
  --primary-strong-cyan: hsl(174, 86%, 45%);
  --primary-light-grayish-red: hsl(14, 92%, 95%);
  --primary-light-red: hsl(15, 100%, 70%);
  --primary-light-redO3: hsla(15, 100%, 70%, 0.295);
  --primary-pale-blue: hsl(226, 100%, 87%);

  --neutral-component-background: hsl(0, 0%, 100%);
  --neutral-main-background: hsl(230, 100%, 99%);
  --neutral-grayish-blue-empty-slider-bar: hsl(224, 65%, 95%);
  --neutral-grayish-blue-toggle-background: hsl(223, 50%, 87%);
  --neutral-grayish-blue-text: hsl(225, 20%, 60%);
  --neutral-dark-desaturated-blue: hsl(227, 35%, 25%);

  --font-size: 15px;
  --font-family: "Manrope", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 200px;
  position: fixed;
  z-index: 1;
}

.layout .top {
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  width: 100%;
  translate: 0 -30%;
  background-size: cover;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  z-index: 2;
}

.top-section {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
}

.slider-img {
  position: absolute;
  left: 50%;
  height: 130px;
  transform: translate(-50%, 0);
}

.title {
  color: var(--neutral-dark-desaturated-blue);
  font-size: 28px;
  font-weight: bold;
}

.description {
  font-size: var(--font-size);
}

.card {
  background-color: var(--neutral-component-background);
  border-radius: 10px;
  padding: 1rem 3rem 2rem 3rem;
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 600px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.views {
  color: var(--neutral-grayish-blue-text);
  text-transform: uppercase;
  font-size: var(--font-size);
  font-weight: bold;
  letter-spacing: 2px;
}

.row .month {
  color: var(--neutral-grayish-blue-text);
}

strong.price {
  color: var(--neutral-dark-desaturated-blue);
  font-size: 42px;
  font-weight: bold;
}

.row.float-right {
  gap: 0.5rem;
  color: var(--neutral-grayish-blue-text);
  font-size: var(--font-size);
  justify-content: end;
  margin: 1rem 0;
}

.discount {
  background-color: var(--primary-light-redO3);
  color: var(--primary-light-red);
  padding: 1px 7px;
  border-radius: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  min-width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: grab;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  background-color: var(--primary-soft-cyan);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-strong-cyan);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-strong-cyan);
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.check {
  height: 14px;
  margin: 0 7px 0 0;
}

.benefits {
  color: var(--neutral-grayish-blue-text);
  font-size: var(--font-size);
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-grayish-blue-empty-slider-bar);
}

.btn {
  color: var(--neutral-grayish-blue-toggle-background);
  background-color: var(--neutral-dark-desaturated-blue);
  padding: 13px 2.8rem;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: var(--neutral-component-background);
}

body[data-active="true"] {
  background-position: 0% -50%;
}

/* slider  */

.slider__div {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.slider__div input {
  width: 100%;
}

input.input-range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: var(--primary-soft-cyan);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 38px;
  height: 38px;
  visibility: hidden;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 38px;
  height: 38px;
  visibility: hidden;
  border-radius: 50%;
}

.img-slider-div {
  height: 38px;
  width: 38px;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--primary-strong-cyan);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 11px hsla(174, 86%, 45%, 0.4);
  position: absolute;
  z-index: 2;
  left: 50%;
  translate: -50%;
  pointer-events: none;
}
.mobile {
  display: none;
}

/* slider  */

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  color: lab(6.32 0 0);
  text-align: center;
  z-index: 3;
}
.attribution a {
  color: hsl(216.08 66.23% 54.71%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(215.8 68.79% 66.08%);
}

@media (max-width: 600px) {
  .card {
    width: unset;
  }
}
@media (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    margin: 1rem 0;
    display: block;
  }
  .container {
    display: grid;
    gap: 1rem;
    place-items: center;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 230px 1fr 10px;
  }
  .card {
    height: 100%;
    padding: 1.5rem;
    margin: 0 1rem 5rem 1rem;
  }
  .top-section {
    width: 320px;
  }
  .discount-text {
    display: none;
  }
  .row.float-right {
    font-size: 13px;
    margin: 0;
  }
  .bottom-row {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 360px) {
  .card {
    width: 280px;
  }
}
